{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * huntermfa plugin for Craft CMS 3.x
 *
 * huntermfa Settings.twig
 *
 * @author    Greg Simsic
 * @copyright Copyright (c) 2020 Greg Simsic
 * @link      gregsimsic.com
 * @package   Huntermfa
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("gregsimsic\\huntermfa\\assetbundles\\huntermfa\\HuntermfaAsset") %}

{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
