{# @var craft \craft\web\twig\variables\CraftVariable #}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Start Year"|t,
    instructions: ""|t,
    id: 'startYear',
    name: 'startYear',
    value: settings.startYear
}) }}

{{ forms.textField({
    label: "Last Year"|t,
    instructions: ""|t,
    id: 'lastYear',
    name: 'lastYear',
    value: settings.lastYear
}) }}

