{# @var craft \craft\web\twig\variables\CraftVariable #}
{% import "_includes/forms" as forms %}

<div class="semesterPickerField">
        {{ forms.selectField({
                id: 'semesterPicker',
                name: name ~ '[semester]',
                value: value.semester,
                options: options.semesters
        }) }}
</div>

<div class="semesterPickerField">
        {{ forms.selectField({
                id: 'yearPicker',
                name: name ~ '[year]',
                value: value.year,
                options: options.years
        }) }}
</div>