{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * huntermfa plugin for Craft CMS
 *
 * SEO Field Settings
 *
 * @author    Greg Simsic
 * @copyright Copyright (c) 2020 Greg Simsic
 * @link      gregsimsic.com
 * @package   Huntermfa
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("gregsimsic\\huntermfa\\assetbundles\\huntermfa\\HuntermfaAsset") %}

{{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}}
